<button class = "createbutton" type = "button" (click)="createArticle()">Create</button>
<!-- <button class = "fetcharticle" type = "button" (click)="fetchArticles()">Liste complète</button> -->
<form action="">
  <div>
  <label for="id">Entrez id</label>
  <input type="text">
</div>
  <!-- <input type="submit" (click)="deleteArticle()" value="delete"> -->
</form>
<ng-container *ngIf="articles.length">
<div class="card" *ngFor=" let article of articles">
  <div class="container" *ngIf = "article">
      <h3>{{article.title}}</h3>
      <p class="summary">{{article.summary}}</p>
      <p class="content">{{article.content}}</p>
      <input type="submit" (click)="deleteArticle(article.id)" value="delete">
  </div>
</div>
</ng-container>

<router-outlet></router-outlet>
